doctype html
html
  head
    title Slack Integration Demo
  body
    h1 Welcome to Slack Integration Demo!
    p
      | This is a demonstration of integrating with Slack.
      br
      | You can connect your Slack account and send messages to channels.
    a.button(href=`/connect`) Connect to Slack
    br
    a.button(href='/upload') Go to Upload Page
